* { margin: 0; padding: 0; }
body { font-family: Helvetica, Arial, sans-serif; }
h1 { font-weight: bold; margin-bottom: 10px; }

html, body {
  height: 100%;
  width: 100%;
}

.group {
  width: 333px;
  margin: 0;
  /*float: left;*/
  padding: 25px 40px;
}

.left-panel {
  width: 30%;
  height: 100%;
  float: left;
  background-color: #deeff5;
  box-sizing: border-box;
  border-right: 2px solid #9bc2cf;
}

.right-panel {
  width: 70%;
  height: 100%;
  float: right;
  background-color: #DDF9DD;
  box-sizing: border-box;
}


.parent {
    list-style-type: none;
}

.parent li {
    height: 41px;
    margin-bottom: 5px;
    padding: 5px;
    background: #ddd;
}

.parent li.active {
    background: pink;
}

.parent li.hover {
    background: #ffd27f;
}

.parent li.hover span {
    opacity: .5;
}

.parent li span {
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 5px;
    background: #eee;
    border: 3px solid #eee;
    cursor: move;
}

.parent li span.ui-draggable-dragging {
    z-index: 10;
    border-color: red;
}

.button-form {
  margin-top: 20px;
}
