.container {margin: 20px auto; display: block; width: 60%; }
h1 {
  margin-bottom: 5px;
}
h1 span {
  font-weight: normal;
}
.sort-contain-base {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 25px;
}
.sort-contain-1 {
  height: 500px;
}
.sort-contain-2 {
  min-height: 90px;
}
#sortable,
#sortable2 { list-style-type: none; margin: 0; padding: 0;}
#sortable li,
#sortable2 li { margin-bottom: 5px; padding: 5px; font-size: 1.2em; }
html>body #sortable li,
html>body #sortable2 li { line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
.ui-state-default {
  vertical-align: middle;
  cursor: move;
}
.ui-state-default span {
  float: right;
  color: purple;
  cursor: pointer;
}
